@model IEnumerable<EventDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Events List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Date
					</th>
					<th>
						Away
					</th>
					<th>
						Home
					</th>
				</tr>
			</thead>
			<tbody>
                @foreach(var item in Model) {
					<tr>
						<td>
							@item.Date
						</td>
						<td>
							@item.AwayTeam?.DisplayName
						</td>
						<td>
							@item.HomeTeam?.DisplayName
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>